jinja2>=3.1 # NOTE: Jinja2 version must be the same as pyproject.toml's dependencies configuration
mypy==1.15.0
ruff==0.11.10
starlette>=0.37 # NOTE: Starlette version must be the same as pyproject.toml's dependencies configuration 